<!-- exo/base.html -->
<!-- all templates should inherit from this file... -->

{% load static %}
<div class="top-bar">
    <a href="{% url 'home' %}">
        <img src="{% static 'images/logo.png' %}" class="logo-left" alt="ExoCollect Logo">
    </a>

    <div class="nav-right">
        <a href="{% url 'home' %}" class="nav_mov">
                <img src="{% static 'images/buttons/home.png' %}" class="nav-btn" alt="Archive">
            </a>
        <a href="{% url 'planet_archive' %}" class="nav_mov">
                <img src="{% static 'images/buttons/archive.png' %}" class="nav-btn" alt="Archive">
            </a>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' pro.pk %}">
                <img src="{% static 'images/buttons/profile.png' %}" class="nav-btn" alt="Profile">
            </a>
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="logout-btn" style="border: none; background: none; padding: 0; cursor: pointer">
                    <img src="{% static 'images/buttons/logout.png' %}" class="nav-btn" alt="Logout">
                </button>
            </form>
        {% else %}
            <a href="{% url 'signup' %}">
                <img src="{% static 'images/buttons/sign_up.png' %}" class="nav-btn" alt="Sign Up">
            </a>
            <a href="{% url 'login' %}">
                <img src="{% static 'images/buttons/login.png' %}" class="nav-btn login-btn" alt="Login">
            </a>
        {% endif %}
    </div>
</div>

 <html>
    <head>
        <title> ExoCollect </title> 
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <p>User authenticated? {{ user.is_authenticated }}</p>
        <p>User: {{ user }}</p>
        {% block content %}
        {% endblock %}
    </body>
 </html>