{% extends 'exo/base.html' %}

{% block content %}

<div class="container mt-5 text-light">
    <h2 class="mb-4">Welcome, {{ user.username }}!</h2>
    <p>Username: {{ user.username }}</p>
    <h3>
        {{profile.username}}
        {{profile.bio}}
    </h3>
    &nbsp;
    <!-- we can refine display all of a users planets on their profile -->
    <!-- might need to adjust the fields of the planet model later -->
    <h1> Your Planets: </h1>
    {% for planet in profile.get_planets %}
    <table>
        <tr>
            <td>
                {{planet.designation}}
            </td>
            <td>
                {{planet.mass}}
            </td>
            <td> {{planet.gravity}} </td>
            <td> {{planet.comp}} </td>
        </tr>
    </table>
    {% endfor %}
</div>

{% endblock %}