{% extends 'exo/base.html' %}
{% load static %}


{% block content %}

<!--
<section class="fullscreen-container">
    <div class="content-box">
        <h1 class="display-3 fw-bold">Welcome to ExoCollect</h1>
        <p class="lead">Explore the universe through an interactive journey across planets and space science!</p>
        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-outline-light btn-lg me-3">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-outline-success btn-lg">Sign Up</a>
        </div>
        <div class="mt-4">
            <a href="{% url 'exocollect_start' %}" class="btn btn-primary btn-lg">Start Exploring</a>
            <a href="{% url 'planet_archive' %}" class="btn btn-primary btn-lg">Planet Archive</a>
        </div>
    </div>
</section> -->

<div class="home-container">
    <div class="section logo-section">
        <img src="{% static 'images/placeholder.png' %}" alt="ExoCollect Logo Under Construction">
    </div>

    <div class="section mission-section">
        <div>
            <h2>What is Exocollect?</h2>
            <p>
                ExoCollect is a student and recent graduate-led initiative dedicated to reigniting curiosity about space and the wonders of exploration. Our goal is to help people grasp the vast scale and diverse composition of the universe, and to appreciate just how rare and special our own planet truly is. We do this through a gamified planet generation experience that makes learning about the cosmos engaging, interactive, and accessible to all. To get started create or log in to an existing profile! No email or personal data required!
            </p>
        </div>
    </div>
</div>

{% endblock %}