{% extends 'exo/base.html' %}


{% block content %}
<section class="fullscreen-container">
    <div class="content-box">
        <h1 class="display-3 fw-bold">Welcome to ExoCollect</h1>
        <p class="lead">Explore the universe through an interactive journey across planets and space science!</p>
        <div class="mt-4">
            <a href="{% url 'login' %}" class="btn btn-outline-light btn-lg me-3">Login</a>
            <a href="{% url 'signup' %}" class="btn btn-outline-success btn-lg">Sign Up</a>
        </div>
        <div class="mt-4">
            <a href="{% url 'exocollect_start' %}" class="btn btn-primary btn-lg">Start Exploring</a>
        </div>
    </div>
</section>
{% endblock %}