{% extends 'exo/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 signup-container">
    <div class="auth-card p-4">
        <h2 class="text-center mb-4">Signup</h2>
        <form method="POST">
            {% csrf_token %}
            
            <h4>User Info</h4>
            {{ user_form.as_p }}
            
            <h4>Profile Info</h4>
            {{ profile_form.as_p }}

            <p> This is a demo version of ExoCollect. Accounts/data may be deleted at any time, and there is no account recovery. </p>
            <p class="red"> IMPORTANT: By creating an account you agree to our Privacy Policy and Terms of Service which can be found here: </p>
            <h2><a href="{% url 'privacy' %}" class="back-link"> Privacy Policy </a></h2>
            <h2><a href="{% url 'TOS' %}" class="back-link"> Terms of Service </a></h2>
            
            <button type="submit" class="btn-auth">
                <img src="{% static 'images/text/account.png' %}" alt="Account">
            </button>
        </form>
    </div>
</div>

<style>
    .back-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #00aaff;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #00aaff;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .back-link:hover,
  .back-link:focus {
    background-color: #00aaff;
    color: #000;
  }

  .red {
    color: red !important;
  }
</style>
{% endblock %}